# macro field_errors(field)
  # for error in field.errors
    <p class="help-block">{{error}}</p>
  # endfor
# endmacro


# macro field_description(field)
  # if field.description
    <p class="help-block">{{field.description}}</p>
  # endif
# endmacro


# macro input_field(field, type='text')
  <div class="form-group {{'has-error' if field.errors}}">
    {{field.label(class='control-label')}}
    {{field(class='form-control', type=type, **kwargs)}}
    {{field_errors(field)}}
    {{field_description(field)}}
  </div>
# endmacro


# macro text_field(field)
  {{input_field(field, **kwargs)}}
# endmacro


# macro password_field(field)
  {{input_field(field, type='password', **kwargs)}}
# endmacro


# macro number_field(field)
  {{input_field(field, type='number', **kwargs)}}
# endmacro


# macro date_field(field)
  {{input_field(field, type='date', **kwargs)}}
# endmacro


# macro email_field(field)
  {{input_field(field, type='email', **kwargs)}}
# endmacro


# macro select_field(field)
  {{input_field(field, **kwargs)}}
# endmacro


# macro hidden_field(field)
  {{field(type='hidden', **kwargs)}}
# endmacro


# macro textarea_field(field, rows=4)
  <div class="form-group {{'has-error' if field.errors}}">
    {{field.label(class='control-label')}}
    {{field(class='form-control', rows=rows, **kwargs)}}
    {{field_errors(field)}}
    {{field_description(field)}}
  </div>
# endmacro


# macro checkbox_field(field)
  <div class="checkbox {{'has-error' if field.errors}}">
    <label class="{{'text-muted' if 'disabled' in kwargs}}">
      {{field(**kwargs)}} {{field.label.text}}
    </label>
    {{field_errors(field)}}
    {{field_description(field)}}
  </div>
# endmacro


# macro multiple_checkbox_field(field)
  <div class="form-group {{'has-error' if field.errors}}">
    {{field.label(class='control-label')}}
    {{field_description(field)}}
    # for choice in field.choices
      <div class="checkbox">
        <label>
          <input type="checkbox" name="{{field.name}}" value="{{choice[0]}}"
            # if field.data and choice[0] in field.data
              checked
            # endif
          > {{choice[1]}}
        </label>
      </div>
    # endfor
    {{field_errors(field)}}
  </div>
# endmacro


# macro oauth_fields(name, fields, checkmark, help)
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#oauth" href="#{{slugify(name)}}">{{name}}</a>
        <i class="fa fa-check pull-right {{'hide' if not checkmark}}"></i>
      </h4>
    </div>
    <div id="{{slugify(name)}}" class="panel-collapse collapse">
      <div class="panel-body">
        # for field in fields:
          {{text_field(field)}}
        # endfor
        # if help
          <p class="help-block">{{help | safe}}</p>
        # endif
      </div>
    </div>
  </div>
# endmacro
