# macro field_errors(field)
  # for error in field.errors
    <p class="help-block">{{error}}</p>
  # endfor
# endmacro


# macro field_description(field)
  # if field.description
    <p class="help-block">{{field.description}}</p>
  # endif
# endmacro


# macro input_field(field, type='text', placeholder='', autocomplete=True)
  <div class="form-group {{'has-error' if field.errors else ''}}">
    {{field.label(class='control-label')}}
    {{field(class='form-control', type=type, autocomplete='on' if autocomplete else 'off', placeholder=placeholder)}}
    {{field_errors(field)}}
    {{field_description(field)}}
  </div>
# endmacro


# macro text_field(field, placeholder='', autocomplete=True)
  {{input_field(field, placeholder=placeholder, autocomplete=autocomplete)}}
# endmacro


# macro password_field(field)
  {{input_field(field, type='password', autocomplete=False)}}
# endmacro


# macro number_field(field, placeholder='', autocomplete=True)
  {{input_field(field, type='number', placeholder=placeholder, autocomplete=autocomplete)}}
# endmacro


# macro date_field(field, placeholder='', autocomplete=True)
  {{input_field(field, type='date', placeholder=placeholder, autocomplete=autocomplete)}}
# endmacro


# macro email_field(field, placeholder='', autocomplete=True)
  {{input_field(field, type='email', placeholder=placeholder, autocomplete=autocomplete)}}
# endmacro


# macro select_field(field)
  {{input_field(field)}}
# endmacro


# macro hidden_field(field)
  {{field(type='hidden')}}
# endmacro


# macro textarea_field(field, placeholder='', rows=4)
  <div class="form-group {{'has-error' if field.errors else ''}}">
    {{field.label(class='control-label')}}
    {{field(class='form-control', rows=rows, placeholder=placeholder)}}
    {{field_errors(field)}}
    {{field_description(field)}}
  </div>
# endmacro


# macro checkbox_field(field)
  <div class="checkbox {{'has-error' if field.errors else ''}}">
    <label>
      {{field()}} {{field.label.text}}
    </label>
    {{field_errors(field)}}
    {{field_description(field)}}
  </div>
# endmacro


# macro multiple_checkbox_field(field)
  <div class="form-group {{'has-error' if field.errors else ''}}">
    {{field.label(class='control-label')}}
    {{field_description(field)}}
    # for choice in field.choices
      <div class="checkbox">
        <label>
          <input type="checkbox" name="{{field.name}}" value="{{choice[0]}}"
            # if field.data and choice[0] in field.data
              checked
            # endif
          > {{choice[1]}}
        </label>
      </div>
    # endfor
    {{field_errors(field)}}
  </div>
# endmacro
