# macro order_link(title, endpoint, property)
  # if request.args.get('order') == property
    <a href="{{url_for(endpoint, order='-' + property)}}">{{title}} <i class="fa fa-chevron-up"></i></a>
  # elif request.args.get('order') == '-' + property
    <a href="{{url_for(endpoint, order=property)}}">{{title}} <i class="fa fa-chevron-down"></i></a>
  #else
    <a href="{{url_for(endpoint, order=property)}}">{{title}}</a>
  #endif
# endmacro


# macro next_link(more_url, caption='Next Page')
  # if more_url
    <ul class="pager">
      <li><a href="{{more_url}}" rel="nofollow">{{caption}}</a></li>
    </ul>
  # endif
# endmacro


# macro prefetch_link(url)
  # if url
    <link rel="prerender" href="{{url}}" />
    <link rel="prefetch" href="{{url}}" />
  # endif
# endmacro


# macro auth_icons(auth_ids)
  # for auth_id in auth_ids
    # if auth_id.startswith('federated')
      <span class="fa fa-google-plus"></span>
    # elif auth_id.startswith('facebook')
      <span class="fa fa-facebook"></span>
    # elif auth_id.startswith('twitter')
      <span class="fa fa-twitter"></span>
    # elif auth_id.startswith('github')
      <span class="fa fa-github"></span>
    # else
      <span class="fa fa-question"></span>
    # endif
  # endfor
# endmacro
