# macro order_by_link(property, title, ignore=['cursor'])
  # if request.args.get('order') == property
    <a href="{{update_query_argument('order', '-' + property, ignore)}}">{{title}}</a>
    <i class="fa fa-chevron-up text-muted"></i>
  # elif request.args.get('order') == '-' + property
    <a href="{{update_query_argument('order', property, ignore)}}">{{title}}</a>
    <i class="fa fa-chevron-down text-muted"></i>
  #else
    <a href="{{update_query_argument('order', property, ignore)}}">{{title}}</a>
  #endif
# endmacro


# macro filter_by_link(property, value, icon=None, ignore=['cursor'], list=False)
  # set value = '%s' % value
  <a href="{{update_query_argument(property, None if request.args.get(property) == value else value, ignore, list)}}"
     class="btn btn-default {{'active' if request.args.get(property, '').find(value) >= 0}}">
    # if icon
      <i class="fa fa-{{icon}}"></i>
    # else
      {{value}}
    # endif
  </a>
# endmacro


# macro next_link(more_url, caption)
  # if more_url
    <ul class="pager">
      <li><a href="{{more_url}}" rel="nofollow">{{caption if caption else 'Next Page'}}</a></li>
    </ul>
  # endif
# endmacro


# macro prefetch_link(url)
  # if url
    <link rel="prerender" href="{{url}}" />
    <link rel="prefetch" href="{{url}}" />
  # endif
# endmacro


# macro auth_icon(auth_id)
  # if auth_id.startswith('federated')
    <span class="fa fa-fw fa-google-plus"></span>
  # elif auth_id.startswith('facebook')
    <span class="fa fa-fw fa-facebook"></span>
  # elif auth_id.startswith('twitter')
    <span class="fa fa-fw fa-twitter"></span>
  # else
    <span class="fa fa-fw fa-question"></span>
  # endif
# endmacro


# macro auth_icons(auth_ids)
  # for auth_id in auth_ids
    {{auth_icon(auth_id)}}
  # endfor
# endmacro


# macro html_element(name, content)
  <{{name}}
    #- for arg in kwargs
      {{arg}}="{{kwargs[arg]}}"
    #- endfor
  >
  #- if content
    {{content}}</{{name}}>
  #- endif
# endmacro
