.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  .flag-icon-background;
  position: relative;
  display: inline-block;
  width: unit((4 / 3), em);
  line-height: 1em;
  &:before {
    content: '\00a0';
  }
  &.flag-icon-squared {
    width: 1em;
  }
}

.flag-icon(@flag_size, @country) when (@flag_size = '4x3') {
  .flag-icon-@{country} {
    background-image: ~'url(@{flag-icon-css-path}@{flag-icon-rect-path}/@{country}.svg)';
  }
}

.flag-icon(@flag_size, @country) when (@flag_size = '1x1') {
  .flag-icon-@{country}.flag-icon-squared {
    background-image: ~'url(@{flag-icon-css-path}@{flag-icon-square-path}/@{country}.svg)';
  }
}

.make-flags(@array, @flag_size) {
  .flag-classes-iterator(@i: length(@array)) when (@i > 0) {
    .flag-classes-iterator(@i - 1);
    @country: extract(@array, @i);
    .flag-icon(@flag_size, @country);
  }
  .flag-classes-iterator();
}
