.DS_Store
.git*
.hg*
.idea
.vscode
*.mo
*.pyc
*.pyo
bower_components
main/index.yaml
main/lib
main/lib.zip
main/static/dev
main/static/ext
main/static/min
main/translations/messages.pot
node_modules
npm-debug.log
package-lock.json
temp/
yarn-error.log
