blinker==1.3
flask-babel==0.9
flask-login==0.2.11
flask-wtf==0.10.2
flask==0.10.1
git+https://github.com/joernhees/babel@zipcompat-build
git+https://github.com/mitsuhiko/flask-oauth.git@0.13
unidecode==0.4.16
