blinker==1.4
flask-babel==0.11.1
flask-login==0.4.0
flask-oauthlib==0.9.3
flask-restful==0.3.5
flask-wtf==0.14.0
flask==0.11.1
git+https://github.com/joernhees/babel@zip-2.3.4
pyjwt==1.4.2
unidecode==0.4.19
webargs==1.4.0
