blinker==1.4
flask-babel==0.12.2
flask-login==0.4.1
flask-oauthlib==0.9.5
flask-restful==0.3.7
flask-wtf==0.14.2
flask==1.0.2
git+https://github.com/joernhees/babel@zip-2.3.4
jinja2==2.10.1
oauthlib==2.1.0
pyjwt==1.7.1
requests-oauthlib==1.1.0
simplejson==3.16.0
unidecode==1.0.23
webargs==5.3.0
