# extends 'admin/admin_base.html'

# block admin_content
  <div class="row">
    <div class="col-md-6">
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}
        <div class="panel-group">
          # import 'macro/forms.html' as forms
          # include 'admin/bit/azure_ad_oauth.html'
          # include 'admin/bit/bitbucket_oauth.html'
          # include 'admin/bit/dropbox_oauth.html'
          # include 'admin/bit/facebook_oauth.html'
          # include 'admin/bit/github_oauth.html'
          # include 'admin/bit/google_oauth.html'
          # include 'admin/bit/instagram_oauth.html'
          # include 'admin/bit/linkedin_oauth.html'
          # include 'admin/bit/mailru_oauth.html'
          # include 'admin/bit/microsoft_oauth.html'
          # include 'admin/bit/reddit_oauth.html'
          # include 'admin/bit/twitter_oauth.html'
          # include 'admin/bit/vk_oauth.html'
          # include 'admin/bit/yahoo_oauth.html'
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-loading" {{forms.data_loading_text()}}>
          Update Config
        </button>
      </form>
    </div>
  </div>
# endblock
