# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>
      {{utils.back_link('Back', back_url_for or 'admin')}}
      {{title}}
    </h1>

    # if html_class in ['admin-config', 'admin-auth']
      <p class="text-muted">
        # set instances_url = 'https://console.developers.google.com/project/%s/appengine/instances?moduleId=default&versionId=%s' % (
              config.APPLICATION_ID,
              config.CURRENT_VERSION_NAME,
            ) if config.PRODUCTION else ''

        For most of the settings to be applied for everyone, you will
        # if instances_url
          <a href="{{instances_url}}" target="_blank">have to restart</a>
        # else
          have to restart
        # endif
        the <a href="https://developers.google.com/appengine/docs/adminconsole/instances" target="_blank">instances</a>.
      </p>
    # endif
    # block admin_header
    # endblock
  </div>

  # block admin_content
  # endblock
# endblock
