# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <ul class="nav nav-justified text-center h4">
    {{admin_link('User List', 'group', url_for('user_list', order='-modified', active=True))}}
    {{admin_link('App Config', 'cog', url_for('admin_config'))}}
    {{admin_link('Auth Config', 'lock', url_for('admin_auth'))}}
    {{admin_link('Test', 'sliders', url_for('admin_test'))}}
  </ul>

  <div class="page-header">
    <h2>
      Google Cloud Platform
      <small title="Application ID">({{config.APPLICATION_ID}})</small>
    </h2>
  </div>

  <ul class="nav nav-justified text-center h4">
    {{admin_link('Overview', 'tachometer', 'https://console.developers.google.com/project/%s' % config.APPLICATION_ID, '_gae')}}
    {{admin_link('Instances', 'bolt', 'https://console.developers.google.com/project/%s/appengine/instances' % config.APPLICATION_ID, '_gae')}}
    {{admin_link('Versions', 'archive', 'https://console.developers.google.com/project/%s/appengine/versions' % config.APPLICATION_ID, '_gae')}}
    {{admin_link('Logs', 'bullhorn', 'https://console.developers.google.com/project/%s/logs' % config.APPLICATION_ID, '_gae')}}
    {{admin_link('Settings', 'cogs', 'https://console.developers.google.com/project/%s/settings' % config.APPLICATION_ID, '_gae')}}
  </ul>

# endblock


# macro admin_link(title, icon, url, target='')
  <li>
    <a class="text-muted" href="{{url}}" target="{{target}}">
      <i class="fa fa-fw fa-3x fa-{{icon}}"></i><br>
      {{title}}
    </a>
  </li>
# endmacro
