# extends 'base.html'
# import 'macro/forms.html' as forms

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
    <p class="help-block">
      For most of the settings you will
      # if instances_url
        <a href="{{instances_url}}" target="_blank">have to restart</a>
      # else
        have to restart
      # endif
      the <a href="https://developers.google.com/appengine/docs/adminconsole/instances" target="_blank" >instances</a>
    </p>
  </div>


  <form method="POST" action="." novalidate>
    <div class="row">
      <fieldset class="col-sm-6 col-md-5">
        <legend>General</legend>
        {{form.csrf_token}}

        {{forms.text_field(form.brand_name, autofocus=True)}}
        {{forms.email_field(form.feedback_email)}}
        {{forms.text_field(form.analytics_id)}}
        {{forms.text_field(form.flask_secret_key)}}
        {{forms.textarea_field(form.announcement_html)}}
        {{forms.select_field(form.announcement_type)}}
      </fieldset>

      <fieldset class="col-sm-6 col-md-7">
        <legend>Third Party OAuth</legend>
        <div class="panel-group" id="oauth">
          # include "admin/bit/facebook_oauth.html"
          # include "admin/bit/twitter_oauth.html"
        </div>
      </fieldset>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-loading" data-loading-text="Updating Config..">
          Update Config
        </button>
      </div>
    </div>
  </form>
# endblock
