# if config.DEVELOPMENT
  <script src="/p/dev/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/dev/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
# else
  <script src="/p/min/script/ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  <script src="/p/min/script/script.js?{{config.CURRENT_VERSION_ID}}"></script>
# endif

<script>
  window.LOCALE = '{{request.locale}}';
</script>
<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

