# if current_user.id > 0
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{current_user.name}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{url_for('profile')}}">{{_('Profile Settings')}}</a></li>
      <li><a href="{{url_for('signout')}}">{{_('Sign out')}}</a></li>
      # if current_user.admin
        <li class="divider"></li>
        <li class="nav-header">{{_('Admin Only')}}</li>
        <li><a href="{{url_for('admin_config_update')}}">{{_('Config')}}</a></li>
        <li><a href="{{url_for('user_list', order='-created')}}">{{_('User List')}}</a></li>
      # endif
    </ul>
  </li>
# else
  <li><a href="{{url_for('signin')}}">{{_('Sign in')}}</a></li>
# endif
