<div class="row text-center">
  <div class="col-xs-6 col-sm-3">
    <h5 class="alert alert-warning ellipsis hidden-xs">Extra small devices<br> <small>Phones (&lt;768px)</small></h5>
    <h5 class="alert alert-success ellipsis visible-xs-block">✔ Visible on extra small devices<br> <small>Phones (&lt;768px)</small></h5>
  </div>
  <div class="col-xs-6 col-sm-3">
    <h5 class="alert alert-warning ellipsis hidden-sm">Small devices<br> <small>Tablets (≥768px)</small></h5>
    <h5 class="alert alert-success ellipsis visible-sm-block">✔ Visible on small devices<br> <small>Tablets (≥768px)</small></h5>
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-3">
    <h5 class="alert alert-warning ellipsis hidden-md">Medium devices<br> <small>Desktops (≥992px)</small></h5>
    <h5 class="alert alert-success ellipsis visible-md-block">✔ Visible on medium devices<br> <small>Desktops (≥992px)</small></h5>
  </div>
  <div class="col-xs-6 col-sm-3">
    <h5 class="alert alert-warning ellipsis hidden-lg">Large devices<br> <small>Desktops (≥1200px)</small></h5>
    <h5 class="alert alert-success ellipsis visible-lg-block">✔ Visible on large devices<br> <small>Desktops (≥1200px)</small></h5>
  </div>
</div>
