<div class="row">
  # for col in range(12)
    <div class="col-xs-1">
      <div class="cell">1</div>
    </div>
  # endfor
</div>

<div class="row">
  # for col in range(6)
    <div class="col-xs-2">
      <div class="cell">2</div>
    </div>
  # endfor
</div>

<div class="row">
  # for col in range(4)
    <div class="col-xs-3">
      <div class="cell">3</div>
    </div>
  # endfor
</div>

<div class="row">
  # for col in range(3)
    <div class="col-xs-4">
      <div class="cell">4</div>
    </div>
  # endfor
</div>

<div class="row">
  # for col in range(2)
    <div class="col-xs-6">
      <div class="cell">6</div>
    </div>
  # endfor
</div>

<div class="row">
  <div class="col-xs-8">
    <div class="cell">8</div>
  </div>
  <div class="col-xs-4">
    <div class="cell">4</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
    <div class="cell">10</div>
  </div>
  <div class="col-xs-2">
    <div class="cell">2</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="cell">12</div>
  </div>
</div>
