<p class="lead">
  Vivamus sagittis lacus vel augue <mark>laoreet</mark> rutrum faucibus dolor
  auctor. Duis mollis, <em>est non commodo luctus</em>.
</p>
<p>
  Nullam quis risus eget <s>urna mollis ornare vel eu leo</s>. Cum sociis
  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Nullam <u>id dolor id nibh ultricies</u> vehicula.
</p>
<p>
  Cum sociis natoque <strong>penatibus et magnis dis</strong> parturient
  montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor
  fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
  eget lacinia odio sem nec elit. <a href="#">Donec</a> ullamcorper nulla non
  metus auctor fringilla.
</p>
<p class="text-muted">
  Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id
  elit non mi porta gravida at eget metus. Duis mollis, est non commodo
  luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
</p>
