# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        Learn the World Quiz
      </h1>
    </div>
  </div>
# endblock

# block content
  <ul class="nav-continents nav nav-tabs nav-justified">
    <li class="{{'active' if not continent}}"><a href="{{url_for('game', game=game)}}#game">World</a></li>
    # for continent_ in config.CONTINENTS
      <li class="{{'active' if continent == continent_}} ellipsis">
        <a href="{{url_for('game', game=game, continent=continent_.replace(' ', '+'))}}#game" rel="nofollow">{{continent_}}</a>
      </li>
    # endfor
  </ul>
  <div class="anchor" id="game"></div>
  <ul class="nav-continents nav nav-tabs nav-justified">
    <li class="{{'active' if game== 'capital'}}"><a href="{{url_for('game', game='capital', continent=continent)}}#question" rel="nofollow">Capitals</a></li>
    <li class="{{'active' if game== 'country'}}"><a href="{{url_for('game', game='country', continent=continent)}}#question" rel="nofollow">Countries</a></li>
  </ul>
  <div class="text-center">
    <div class="anchor" id="question"></div>
    # include 'bit/notifications.html'
    # if question_db
      # if game == 'capital'
        <h2>What's the capital of <strong>{{question_db.name}}</strong>?</h2>
        <img class="flag-question" src="{{question_db.flag_4x3}}">
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            # for answer_db in answer_dbs
              <a class="btn btn-reddit btn-block btn-loading" data-loading-text="Please wait..." href="{{url_for('game_answer', game=game, continent=continent, country_id=question_db.key.id(), answer_key=answer_db.key.urlsafe())}}" rel="nofollow">
                {{answer_db.capital}}
              </a>
            # endfor
          </div>
        </div>
      # elif game == 'country'
        <h2><strong>{{question_db.capital}}</strong> is the capital of</h2>
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            # for answer_db in answer_dbs
              <a class="btn btn-reddit btn-block btn-loading" data-loading-text="Please wait..." href="{{url_for('game_answer', game=game, continent=continent, country_id=question_db.key.id(), answer_key=answer_db.key.urlsafe())}}" rel="nofollow">
                <span class="flag-icon pull-left flag-icon-{{answer_db.alpha_2.lower()}}"></span>
                {{answer_db.name}}
              </a>
            # endfor
          </div>
        </div>
      # endif
    # else
      <div class="alert alert-warning">No enough answers.. sorry!</div>
    # endif
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="text-success">Streak: <strong>{{streak}}</strong></h3>
          </div>
          <div class="col-xs-6">
            <h3 class="text-primary">Record: <strong>{{top}}</strong></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
# endblock
