html {
  background-color: @well-bg;
}

body {
  padding-top: @navbar-height;
  overflow-y: scroll;
  background-color: @body-bg;
  & > .container {
    padding-top: (@line-height-computed / 2);
    min-height: 256px;
  }
}

footer {
  color: @text-muted;
  text-align: center;
  background-color: @well-bg;
  border-top: 1px solid @hr-border;
  padding: (@line-height-computed * 2) (@grid-gutter-width / 2) (@line-height-computed * 4 / 3);
  margin-top: (@line-height-computed * 4);
}

.alert-announcement {
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.img-error {
  max-width: 100%;
  margin: auto;
  display: block;
}
