@iconSpritePath: "/p/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "/p/img/glyphicons-halflings-white.png";

@wellBackground: rgba(238, 238, 238, 0.5);
@heroUnitBackground: rgba(222, 222, 222, 0.5);
@formActionsBackground: rgba(238, 238, 238, 0.5);
