.no-wrap {
  white-space: nowrap;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.flag-img {
  width: 100%;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #868e96;
}

.flag-country {
  font-size: 1.2em;
  width: 100%;
}
