.no-wrap {
  white-space: nowrap;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.flag-img {
  width: 100%;
}

.flag-country {
  font-size: 1.2em;
  width: 100%;
  border-bottom: 1px solid #ced4da;

}

.flag {
  border-radius: 2px;
  border: 1px solid #ced4da;
  margin-bottom: 32px;
  padding: 8px;
}
