<table class="table table-bordered">
  <tbody>
    <tr>
      <td><h1>h1. {{config.CONFIG_DB.brand_name}} Heading</h1></td>
    </tr>
    <tr>
      <td><h2>h2. {{config.CONFIG_DB.brand_name}} Heading</h2></td>
    </tr>
    <tr>
      <td><h3>h3. {{config.CONFIG_DB.brand_name}} Heading</h3></td>
    </tr>
    <tr>
      <td><h4>h4. {{config.CONFIG_DB.brand_name}} Heading</h4></td>
    </tr>
    <tr>
      <td><h5>h5. {{config.CONFIG_DB.brand_name}} Heading</h5></td>
    </tr>
    <tr>
      <td><h6>h6. {{config.CONFIG_DB.brand_name}} Heading</h6></td>
    </tr>
  </tbody>
</table>
