body {
  padding-top: @navbar-height;
  > .container {
    padding-top: floor(@line-height-computed / 2);
    padding-bottom: @line-height-computed * 2;
  }
}

.alert-announcement {
  display: none;
  &.container {
    border-radius: 0;
    margin-bottom: 0;
    padding: @alert-padding;
  }
  > .close {
    right: 0;
  }
}

.img-error {
  max-width: 100%;
  margin: auto;
  display: block;
}

.anchor {
  display: block;
  position: relative;
  top: -@navbar-height;
  visibility: hidden;
}

.recaptcha {
  min-height: 78px;
}
