# import 'macro/forms.html' as forms

# if config.CONFIG_DB.verify_email
  <div class="form-group has-feedback {{'has-error' if form.email.errors}}">
    {{form.email.label(class='control-label')}}
    {{forms.field_optional(form.email)}}
    {{form.email(class='form-control')}}
    # if request.method == 'GET' and user_db.email
      # if user_db.verified
        <span class="fa fa-check form-control-feedback text-success" title="This email is verified"></span>
      # else
        <span class="fa fa-warning form-control-feedback text-warning" title="This email is not verified"></span>
      # endif
    # endif
    {{forms.field_errors(form.email)}}
  </div>
# else
  {{forms.email_field(form.email)}}
# endif
