# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(more_url)}}
# endblock

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" disabled >Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger" disabled >Admins</button>
        {{utils.filter_by_link('admin', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('admin', False, 'thumbs-o-down')}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled >Active</button>
        {{utils.filter_by_link('active', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('active', False, 'thumbs-o-down')}}
      </div>

      <div class="btn-group btn-group-sm {{'hide' if not permissions}}">
        <button type="button" class="btn btn-info" disabled >Permissions</button>
        # for permission in permissions
          {{utils.filter_by_link('permissions', permission, list=True)}}
        # endfor
        # if request.args.get('permissions')
          <a href="{{update_query_argument('permissions')}}" class="btn btn-default" title="Clear all premissions"><i class="fa fa-times"></i></a>
        # endif
      </div>

      <div id="user-actions" class="btn-group hidden">
        <button type="button" class="btn btn-sm dropdown-toggle btn-info" data-toggle="dropdown">
          More
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a id="user-delete"
                data-service-url="{{url_for('user_delete_service')}}"
                data-confirm="Are you sure you want to delete {users} selected user(s)?"
                data-success="{users} user(s) deleted."
                data-error="Something went wrong while deleting. Please try again."
                href="#"
              >
              <i class="fa fa-fw fa-trash-o"></i>
              Delete Selected
            </a>
          </li>
          <li>
            <a id="user-merge" data-user-merge-url="{{url_for('user_merge')}}" href="#">
              <i class="fa fa-fw fa-code-fork"></i>
              Merge Selected
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissable {{'hide' if user_dbs | count > 0}}">
    <a href="{{url_for('user_list', order='-modified')}}" class="close" title="Remove all filters">&times;</a>
    There are no users matching the filters.
  </div>

  <div class="table-responsive {{'hide' if user_dbs | count == 0}}">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-3"><input id="select-all" type="checkbox"> {{utils.order_by_link('name', 'Name')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('username', 'Username')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('email', 'Email')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('created', 'Created')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('modified', 'Modified')}}</th>
          <th class="col-xs-2">Permissions</th>
          <th class="text-center" title="Accounts"><i class="fa fa-key"></i></th>
        </tr>
      </thead>
      <tbody>
        # for user_db in user_dbs
          <tr id="{{user_db.key.urlsafe()}}" class="{{'text-muted' if not user_db.active}}">
            <td>
              <input type="checkbox" name="user_db" value="{{user_db.key.urlsafe()}}">
              <img src="{{user_db.avatar_url_size(36)}}" width="18" alt="Avatar of {{user_db.name}}">
              <a href="{{url_for('user_update', user_id=user_db.key.id())}}">{{user_db.name}}</a>
              # if current_user.id == user_db.key.id()
                <i class="fa fa-hand-o-left" title="You"></i>
              # endif
            </td>
            <td>{{user_db.username}}</td>
            <td>{{user_db.email}}</td>
            <td>
              <time datetime="{{user_db.created.__str__()[:-3]}}">
                {{user_db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
            <td>
              <time datetime="{{user_db.modified.__str__()[:-3]}}">
                {{user_db.modified.strftime('%Y-%m-%d')}}
              </time>
            </td>
            <td>
              # if user_db.admin
                <a href="{{update_query_argument('admin', True)}}" class="label label-danger" title="More like God"><i class="fa fa-cog"></i> admin</a>
              # endif
              # if not user_db.active
                <a href="{{update_query_argument('active', False)}}" class="label label-default" title="Can't sign in"><i class="fa fa-ban"></i> inactive</a>
              # endif
              # for permission in user_db.permissions
                <a href="{{update_query_argument('permissions', permission)}}" class="label label-info">{{permission}}</a>
              # endfor
            </td>
            <td class="text-nowrap">{{utils.auth_icons(user_db.auth_ids)}}</td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(more_url)}}
# endblock
