# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>
      <small>
        <a href="{{url_for('user_list', order='-modified', active=user_db.active)}}" class="text-muted" title="Back to user list"><i class="fa fa-fw fa-chevron-left"></i></a>
      </small>
      {{title}}
      # if current_user.id == user_db.key.id()
        <small><i class="fa fa-hand-o-left" title="You"></i></small>
      # endif
    </h1>
  </div>
  <form method="POST" action="." novalidate>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        {{form.csrf_token}}
        {{forms.text_field(form.name, autofocus=True)}}
        {{forms.text_field(form.username, autocomplete='off')}}
        {{forms.email_field(form.email)}}
        # if current_user.id != user_db.key.id()
          {{forms.checkbox_field(form.admin)}}
          {{forms.checkbox_field(form.active)}}
        # else
          {{forms.checkbox_field(form.admin, disabled=True, checked=user_db.admin)}}
          {{forms.checkbox_field(form.active, disabled=True, checked=user_db.active)}}
        # endif
        # if form.permissions.choices
          {{forms.multiple_checkbox_field(form.permissions)}}
        # endif
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="form-group">
          <label class="control-label">Avatar</label>
          <div>
            <img class="img-thumbnail" src="{{user_db.avatar_url_size(170)}}" alt="Avatar of {{user_db.name}}">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <label class="control-label">Accounts</label>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th><i class="fa fa-key"></i></th>
                <th class="col-xs-12">Auth ID</th>
              </tr>
            </thead>
            <tbody>
              # for auth_id in user_db.auth_ids
                <tr>
                  <td>{{utils.auth_icon(auth_id)}}</td>
                  <td>{{auth_id}}</td>
                </tr>
              # endfor
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-primary btn-lg btn-block btn-loading" data-loading-text="Updating..">
          Update
        </button>
      </div>
    </div>
  </form>
# endblock
