<!DOCTYPE html>
<html class="{% block html_class %}{{html_class}}{% endblock %}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>
      # block title
        {{title + ' |' if title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>
    # include 'bit/style.html'
    # block head
    # endblock
    # include 'bit/analytics.html'
  </head>

  <body>
    # include 'bit/header.html'
    # include 'bit/announcement.html'
    # block header
    # endblock
    <div class="container">
      # include 'bit/notifications.html'
      # block content
      # endblock
    </div>
    # include 'bit/footer.html'
    # include 'bit/script.html'
    # block scripts
    # endblock
  </body>
</html>
