# extends 'base.html'

# block content
  <div class="page-header">
    <h1>
      {{title}}
      <small>
        Send messages using PubNub API
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="span12">
      <div class="well">
        <input data-name="{{current_user.name}}" type="text" class="span6 search-query chat-message"
        placeholder="Type your message to send it as {{current_user.name}}">
        <a class="btn chat-send">Send</a>
        <div class="chat-log">
        </div>
      </div>
    </div>
  </div>
# endblock
