# extends 'base.html'

# block content
  <div class="hero-unit">
    <h2>
      <small>{{error.code}}</small>
      Oh no...! {{error.name}}
    </h2>
    <p>
      Maybe it's our fault.. maybe it's yours.. but either case, this page is unavailable!
    </p>
  </div>

  <div class="row">
    <div class="span12">
      <img
          src="http://imgs.xkcd.com/comics/wisdom_of_the_ancients.png"
          class="img-error"
          alt="xkcd: Wisdom of the Ancients"
          title="xkcd: Wisdom of the Ancients"
        >
    </div>
  </div>
# endblock
