# extends 'base.html'
# import 'macro/forms.html' as forms

# block content
  <div class="page-header">
    <h1>{{title}} <small>Any questions or suggestions are welcome</small></h1>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <form method="POST" action="." novalidate>
        {{form.csrf_token}}

        {{forms.textarea_field(form.message, rows=8, autofocus=True)}}
        {{forms.email_field(form.email)}}
        {{forms.recaptcha_field(form.recaptcha)}}

        <button type="submit" class="btn btn-primary btn-block btn-loading" {{forms.data_loading_text()}}>
          Send Feedback
        </button>
      </form>
    </div>
  </div>
# endblock
