{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>
      Login to continue
      <small>
          After login you'll be redirected to: {{next_url}}
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="span4">
      <a class="btn" href="{{google_login_url}}">
        <img src="/p/img/login/google-logo-large.png">
      </a>
    </div>
    <div class="span4">
      <a class="btn" href="{{facebook_login_url}}">
        <img src="/p/img/login/facebook-logo-large.png">
      </a>
    </div>
    <div class="span4">
      <a class="btn" href="{{twitter_login_url}}">
        <img src="/p/img/login/twitter-logo-large.png">
      </a>
    </div>
  </div>
{% endblock %}
