{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>
      Login to continue
      <small>
          After login you'll be redirected to: {{next_url}}
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="span4">
      <div class="well">
        <a class="btn btn-block" href="{{google_login_url}}">
          <img src="/p/img/login/google-logo-large.png" alt="Google Logo ">
        </a>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <a class="btn btn-block" href="{{facebook_login_url}}">
          <img src="/p/img/login/facebook-logo-large.png" alt="Facebook Logo ">
        </a>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <a class="btn btn-block" href="{{twitter_login_url}}">
          <img src="/p/img/login/twitter-logo-large.png" alt="Twitter Logo ">
        </a>
      </div>
    </div>
  </div>
{% endblock %}
