# extends 'base.html'
# import 'macro/forms.html' as forms
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>
      <small class="pull-right" title="{{_('Connected Accounts')}}">{{utils.auth_icons(user_db.auth_ids)}}</small>
      {{title}}
    </h1>
  </div>
  <form method="POST" action="." novalidate>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        {{form.csrf_token}}
        <div class="form-group ">
          <label class="control-label" for="username">{{_('Username')}}</label>
          <input id="username" class="form-control" name="username" type="text" value="{{user_db.username}}" readonly="readonly">
        </div>
        {{forms.text_field(form.name, autofocus=True)}}
        # include 'user/user_email_field.html'
        {{forms.select_field(form.locale)}}
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="form-group">
          <label class="control-label">{{_('Avatar')}}</label>
          <div>
            <img class="img-thumbnail" src="{{user_db.avatar_url_size(170)}}" alt="{{_('Avatar of')}} {{user_db.name}}">
          </div>
          <p class="help-block">
            {{_('Change on')}}
            <a href="//gravatar.com" target="_blank">{{_('Gravatar')}}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-9">
        <div class="controls">
          <button type="submit" class="btn btn-primary btn-block btn-loading" data-loading-text="{{_('Updating Profile..')}}">
            {{_('Update Profile')}}
          </button>
        </div>
      </div>
    </div>
  </form>
# endblock
