# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block content
  <div class="page-header">
    <h1>{{title}} <small>It only takes 8 seconds</small></h1>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <a class="btn btn-block btn-lg btn-social btn-google" href="{{google_signin_url}}" rel="nofollow">
        <i class="fa fa-google-plus"></i>
        Sign in with Google
      </a>

      # if config.CONFIG_DB.has_facebook
        <a class="btn btn-block btn-lg btn-social btn-facebook" href="{{facebook_signin_url}}" rel="nofollow">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </a>
      # endif

      # if config.CONFIG_DB.has_twitter
        <a class="btn btn-block btn-lg btn-social btn-twitter" href="{{twitter_signin_url}}" rel="nofollow">
          <i class="fa fa-twitter"></i>
          Sign in with Twitter
        </a>
      # endif
    </div>
  </div>
# endblock
