# extends 'base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(more_url)}}
# endblock

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="btn-group">
            <button type="button" class="btn btn-sm dropdown-toggle btn-success" data-toggle="dropdown">
              Limit - {{request.args.get('limit') or 'Default'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('user_list')}}">{{config.DEFAULT_DB_LIMIT}} (Default)</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('user_list', limit=2)}}">2</a></li>
              <li><a href="{{url_for('user_list', limit=4)}}">4</a></li>
              <li><a href="{{url_for('user_list', limit=8)}}">8</a></li>
              <li><a href="{{url_for('user_list', limit=16)}}">16</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm dropdown-toggle btn-danger" data-toggle="dropdown">
              Admins - {{request.args.get('admin') or 'None'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{url_for('user_list')}}">None</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('user_list', admin='true')}}">Show Admins</a></li>
              <li><a href="{{url_for('user_list', admin='false')}}">Hide Admins</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="col-xs-3">{{utils.order_link('Name', 'user_list', 'name')}}</th>
            <th class="col-xs-2 hidden-xs">{{utils.order_link('Username', 'user_list', 'username')}}</th>
            <th class="col-xs-3 hidden-xs">{{utils.order_link('Email', 'user_list', 'email')}}</th>
            <th class="col-xs-2">{{utils.order_link('Created', 'user_list', 'created')}}</th>
            <th class="col-xs-2 hidden-sm hidden-xs">{{utils.order_link('Modified', 'user_list', 'modified')}}</th>
            <th class="hidden-sm hidden-xs">Auth</th>
          </tr>
        </thead>
        <tbody>
          # for user_db in user_dbs
            <tr>
              <td>
                <img src="{{user_db.avatar_url_size(36)}}" width="18" alt="Gravatar for {{user_db.name}}">
                {{user_db.name}}
                # if user_db.admin
                  <i class="fa fa-cog" title="Administrator"></i>
                # endif
              </td>
              <td class="hidden-xs">{{user_db.username}}</td>
              <td class="hidden-xs">{{user_db.email}}</td>
              <td>
                <time datetime="{{user_db.created.__str__()[:-3]}}">
                  {{user_db.created.strftime('%Y-%m-%d')}}
                </time>
              </td>
              <td class="hidden-sm hidden-xs">
                <time datetime="{{user_db.modified.__str__()[:-3]}}">
                  {{user_db.modified.strftime('%Y-%m-%d')}}
                </time>
              </td>
              <td class="hidden-sm hidden-xs text-nowrap">{{utils.auth_icons(user_db.auth_ids)}}</td>
            </tr>
          # endfor
        </tbody>
      </table>
    </div>
  </div>

  {{utils.next_link(more_url)}}
# endblock
