# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>A collection of all country flags in SVG — plus the CSS for easier integration.</p>
      <a href="https://github.com/lipis/flag-icon-css" class="btn btn-default btn-lg" onclick="_gaq.push(['_trackEvent', 'exit', 'header', 'GitHub']);"><span class="fa fa-github"></span> View on GitHub</a>
      <a href="https://github.com/lipis/flag-icon-css/archive/master.zip" class="btn btn-default btn-lg" onclick="_gaq.push(['_trackEvent', 'exit', 'download', 'flag-icon-css.zip']);"><span class="fa fa-download"></span> Download</a>
      <a href="{{url_for('game', game='capital')}}" class="btn btn-default btn-lg" onclick="_gaq.push(['_trackEvent', 'exit', 'download', 'flag-icon-css.zip']);"><span class="fa fa-gamepad"></span> Play</a>
    </div>
  </div>
# endblock

# block content
  <ul class="nav-continents nav nav-tabs nav-justified">
    # set current = request.args.get('continent')
    <li class="{{'active' if not current}}"><a href="{{url_for('welcome')}}">World</a></li>
    # for continent in config.CONTINENTS
      <li class="{{'active' if current == continent}}"><a href="{{url_for('welcome', continent=continent)}}">{{continent}}</a></li>
    # endfor
  </ul>
  <div class="row">
    # for country_db in country_dbs
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="country" data-name="{{country_db.name}}" data-continent="{{country_db.continent}}">
          <div class="name" title="{{country_db.name}}">
            <span class="alpha-2">{{country_db.alpha_2}}</span>
            {{country_db.name}}
          </div>
          <div class="capital">{{country_db.capital}}</div>
          <img class="flag" src="{{country_db.flag_4x3}}" alt="{{country_db.name}} Flag">
        </div>
      </div>
    # endfor
  </div>
# endblock
