{% extends 'base.html' %}

{% block content %}
  <div class="hero-unit">
    <h1>
      <img src="/p/img/brand_logo.png" alt="{{config.CONFIG_DB.brand_name}} Logo">
    </h1>
    <p>The easiest way to start new applications on Google App Engine.</p>
    <p>What you see here is exactly what you get.</p>
    <p>Clone the project and you're up and running!</p>
      <pre style="prettyprint">
  $ hg clone https://bitbucket.org/Lipis/gae-init project-name
  $ dev_appserver.py /path/to/project-name/main</pre>
    <p>
      <a class="btn btn-primary btn-large" href="https://bitbucket.org/Lipis/gae-init">
        Visit {{config.CONFIG_DB.brand_name}} project page &raquo;
      </a>
    </p>
  </div>

  <div class="row">
    <div class="span4">
      <h3>Tech Stack for the App</h3>
      <ul>
        <li><a href="https://developers.google.com/appengine/">Google App Engine</a></li>
        <li><a href="https://developers.google.com/appengine/docs/python/python27/using27">Python 2.7</a></li>
        <li><a href="https://developers.google.com/appengine/docs/python/ndb/">NDB</a></li>
        <li><a href="http://jinja.pocoo.org/docs/">Jinja2</a></li>
        <li><a href="http://flask.pocoo.org/">Flask</a></li>
        <li><a href="http://coffeescript.org/">CoffeeScript</a></li>
        <li><a href="http://lesscss.org/">LessCSS</a></li>
        <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
        <li><a href="http://www.pubnub.com">PubNub</a></li>
        <li> OpenID Logins
          (<a href="{{url_for('login_google')}}">Google</a>,
          <a href="{{url_for('login_facebook')}}">Facebook</a>,
          <a href="{{url_for('login_twitter')}}">Twitter</a>)
        </li>
      </ul>
    </div>
    <div class="span4">
      <h3>Features</h3>
      <ul>
        <li>Open ID Logins</li>
        <li>
          Secret keys are stored in the Datastore.
        </li>
        <li>
          Automatic redirect back to where you were after login.
        </li>
        <li>
          Force redirect by providing <strong>&amp;next</strong> argument to the login URL.
        </li>
        <li>
          JSON services with more URL, limits, filter & orders.
        </li>
        <li>Feedback form</li>
        <li>Push notificatiosn via PubNub</li>
      </ul>
    </div>
    <div class="span4">
      <h3>For developers</h3>
      <ul>
        <li>
          <a href="http://www.sublimetext.com/2" target="_blank">
            Sublime Text 2
          </a>
        </li>
        <li>
          <a href="https://chrome.google.com/webstore/detail/chklaanhfefbnpoihckbnefhakgolnmc" target="_blank">
            JSONView
          </a> (Chrome Extension)
        </li>
      </ul>
      <div class="alert alert-success">
        <h3>Live Examples</h3>
        <ul>
          <li>
            <a href="http://www.remby.com" target="_blank">Remby</a>
            (closed source)
          </li>
          <li>
            <a href="http://www.thesmallestcreature.com" target="_blank">The Smallest Creature</a>
            (<a href="http://code.google.com/p/smallest-creature/source/browse/" target="_blank">source</a>)
          </li>
        </ul>
        <p>
          Send suggestions & questions via the <a href="{{feedback}}">feedback</a>
          form.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
